<!DOCTYPE html>
<html>
<body>

<h2>Sync Songs</h2>

<form action="/sync_songs" method="post">
  <label for="spotify_url">Spotify URI:</label><br>
  <input type="text" id="spotify_url" name="spotify_url" placeholder="Enter Spotify URI" style="width: 400px;"><br><br>
  <label for="youtube_url">YouTube URI:</label><br>
  <input type="text" id="youtube_url" name="youtube_url" placeholder="Enter YouTube URI" style="width: 400px;"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
